<section class="text-center wizard">
  <div class="container">
    <div class="tab-list wizard">
      <div class="wizard__wizard-item-first">
        <span class="wizard__item"><%= fa_icon "check-circle", class: 'fa-lg wizard__item' %> Escolha sua lista</span>

      </div>
      <span class="border h-100"></span>
      <div class="wizard__wizard-item-last">
        <span class="wizard__item"><%= fa_icon "", class: 'fa-lg wizard__item' %> Adicione seus produtos</span>
      </div>
    </div>
  </div>
</section>