.card-img-top {
  height: 300px;
}

.col-sm .card {
  margin-top: 10px;
}

img.gift {
  background-color: turquoise;
}

img.marriage {
  background-color: lavenderblush;
}

img.baby-tea {
  background-color: cornflowerblue;
}

img.bridal-shower {
  background-color: #E1B68B;
}