<header>
  <div class="bg-white collapse header" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        </div>
        <div class="col-sm-4 offset-md-1 py-4 text-right">
          <ul>
            <li><span>Alterar senha <%= fa_icon "lock"  %></span></li>
            <br>
            <% if user_signed_in? %>

              <li>
                <span>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                  <%= fa_icon "sign-out",class: 'fa-lg'  %>
                </span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-white bg-white box-shadow">
    <div class="container d-flex justify-content-between">
      <span class="navbar-brand d-flex align-items-center"><strong>Empresa X</strong></span>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span><%= fa_icon "user", class: 'fa-lg' %></span>
      </button>
    </div>
  </div>
</header>