*
{
  outline: none;
}

.tb
{
  display: table;
  width: 100%;
}

.td
{
  display: table-cell;
  vertical-align: middle;
}

input, button
{
  border: 0;
  background-color: transparent;
}

#cover
{
  //position: absolute;
  //top: 50%;
  //left: 0;
  //right: 0;
  //width: 250px;
  //padding: 35px;
  //margin: -83px auto 0 auto;
  background-color: #D4EDE7;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.6);
}

form
{
  //height: 50px;
}

input[type="text"]
{
  width: 95%;
  height: 50px;
  font-size: 40px;
  line-height: 1;
}

input[type="text"]::placeholder
{
  color: #e16868;
}

#s-cover
{
  width: 1px;
  padding-left: 35px;
}

#submit-product
{
  position: relative;
  display: block;
  width: 84px;
  height: 50px;
  cursor: pointer;
}

#s-circle
{
  position: relative;
  top: -8px;
  left: 0;
  width: 36px;
  height: 29px;
  margin-top: 0;
  border-width: 15px;
  border: 5px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span#span-search
{
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}


#s-cover:hover #s-circle
{
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span
{
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before
{
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after
{
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before, #s-cover:hover button span:after
{
  right: -6px;
  width: 40px;
  background-color: #fff;
}

#add-product {
  align-items: center;
  display: flex;
  height: 50px;
}

.add-product-button {
  background-color: #D4EDE7;
  color: black;
  border-color: #D4EDE7;
}

input#name {
  color: #E16868;
}

.description {
  height: 80px;
}

@media only screen and (max-width: 600px) {
  input[type="text"]
  {
    font-size: 32px;
  }
}